{% extends "base.html" %}

{% block title %}行列サイズの選択{% endblock %}

{% block content %}
<form method="POST">
  <p>行数：</p>
  <select name="rows">
    {% for i in range(config.MIN_ROWS, config.MAX_ROWS + 1) %}
      <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>

  <p>列数：</p>
  <select name="cols">
    {% for i in range(config.MIN_COLS, config.MAX_COLS + 1) %}
      <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
  </select>

  <br><br>
  <button type="submit">次へ</button>
</form>
{% endblock %}
